body {
    background-color: #FDF6F0;
}

.section-header {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.google-map {
    align-items: left;
    width: 70px;
    height: 50px;
}

fieldset {
    text-align: center;
    border: none;
}

table {
    border: 1px solid black;
}

table {
    border-spacing: 30px;
}